.container{
    width: 40%;
    height: 50%;
    margin: auto;
    background: rgb(0, 123, 255);
    background: linear-gradient(186deg, rgb(250, 53, 208) 0%, rgb(2, 30, 102) 100%);
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    

}
img{
    width: 140px;
    height: 140px;
    object-fit: cover;
    object-position: center;
    clip-path: circle();
    margin-top: 20px;
}
h2,p{
    color: #fff;
}
h2{
    font-size: 2rem;
}
p{
    font-size: 1.5rem;
    text-align: center;
    margin: 1rem;
}
.btns{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 10px;
}
.button{
    width: inherit;
    border: 2px solid #fff;
    border-radius: 6px;
    text-align: center;
    color: #fff;
    width: 20rem;
    margin-bottom: 0.2rem;
    text-decoration: none;
}
.disabled{
    pointer-events: none;
}
.button:hover{
    color: rgb(9, 2, 64);
    background-color: #fff;
}
